<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image Overlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2107D71E1CA08E8700736DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2107D7351CA08E8700736DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2107D7401CA08E8700736DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
